*{
  margin: 0;
  padding: 0;
  cursor: default;
}

:root{
  --azulescuro: #0A1426;
  --cinza: #404759;
  --cinzaclaro: #586173;
  --preto: #03070D;
  --branco:#B4B8BF;
  
}


html{
  width: 98vw;
}

body{
  height: 100vh;
  width: 98vw;
  background: rgb(3,7,13);
  background: linear-gradient(0deg, rgba(3,7,13,1) 0%, rgba(2,0,36,1) 50%, rgba(5,1,68,1) 100%);
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  
}


.centralizar{
  display: flex;
  justify-content: center;
  align-content: center;
}

.card{
  background-color: var(--cinzaclaro);
  border-radius: 1em;
  height: 16em;
  width: 30em;
  margin: 2em;
  text-align: center;
  overflow: hidden;
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.705);
  
}

.card>h1{
  background-color: var(--cinza);
  color: var(--preto);
  padding: 0.3em;
}


.container > p{
  margin-top: 1em;
  font-size: x-large;
  font-weight: 800;
}



.texto-input > p {
  padding: 1em;
  font-weight: 500;
}

.texto-input > input{
 width: 6em;
 height: 3em;
 text-align: center;
 font-weight: bold ;
 font-size: 20px;
 border-radius: 2em;
 border-width: 2px;
border-style: solid;
cursor: pointer;
}

input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
    
}

button{
  margin-top: 20px;
  border-radius: 0.5em;
  cursor: pointer;
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
  transition: 0.5s;
}

#btnChute{
  height: 2em;
  width: 12em;
}
button:hover{
  scale: 105%;
  transition: 0.5s;
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.171);
}

.blur{
  filter: blur(5px);
  
}

.acertou{
position: relative;
top: 0px;
margin: auto;
width: 0em;
height: 0em;
opacity: 0;
transition: 1s;
scale: 100%;
z-index: 10;
  background-color: rgb(224, 224, 224);
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.171);
}



.acertou > h1{
  margin-top: 0.6em;
  
}


.acertou > img {
  margin-top: 25px;
}

main{
  filter: blur(0px);
  
}

.vidas{
  display: flex;
  margin: auto;
  width: 20em;
  padding-top: 0.6em;
  justify-content: space-around;
  
 
}

#vidas-titulo{
  padding-top: 1em;
}
#vida1{
  scale: 100%;
  filter: grayscale(100%);
  opacity: 0.5;
  
  transition: 1s;
  
}
#vida2{
  scale: 100%;
  filter: grayscale(100%);
  opacity: 0.5;
}
#vida3{
  scale: 100%;
  filter: grayscale(100%);
  opacity: 0.5;
}

#play-again{
  margin: 20px;
  z-index: 10;
  width: 0px;
  height: 0px;
  font-size: 0px;
  margin: 0px;
}